
@mixin font-face($file-name, $font-family, $font-weight: 400, $font-style: normal) {
  @font-face {
    font-family: $font-family;
    src: url("../fonts/#{$file-name}.ttf") format("opentype");
    font-weight: $font-weight;
    font-style: $font-style;
    font-display: swap;
  }
}

@include font-face(Montserrat-Light, Montserrat, 300);
@include font-face(Montserrat-Regular, Montserrat, 400);
@include font-face(Montserrat-Bold, Montserrat, 700);